<div id="albums">
    {{#each albums as |album|}}
        <div id="div{{album.infoHash}}">
            <b {{action 'toggleAlbum'}}>{{album.name}}</b>
            <br>

            <div style="display:{{if isOpen "block" "none"}}">
                {{#each album.files as |file|}}
                    {{input type="checkbox" change=(action "toggleCheckboxValue" album file) }}
                    <a {{action 'playSong' file}}>{{file.name}}</a>
                    <br>
                {{/each}}
            </div>

        </div>
    {{/each}}
</div>
