{{ready}}
<div class="playlist"></div>
Download Speed {{downloadSpeed}}
<br>
Up Speed {{uploadSpeed}}
<br><br>
Ratio {{ratio}}
<br><br>
Progress {{progress}}
<br><br>

{{#each albums as |album|}}
    Album name: {{album.name}}
    <br>
    {{#each album.files as |file|}}
        <a {{action 'playSong' file}}>{{file.name}}</a> <br>
        <div id="a{{file.length}}"></div>
    {{/each}}
{{/each}}

{{input value=torrentMagnetLink}}

<button {{action "addTorrent" torrentMagnetLink }}>Add Magnet Link</button>
<br>
<button {{action "saveAllTorrents" }}>Save Database</button>


