<div class="playlist"></div>
Download Speed {{downloadSpeed}}
<br>
Up Speed {{uploadSpeed}}
<br><br>
Ratio {{ratio}}
<br><br>
Progress {{progress}}
<br><br>

{{#each torrents as |torrentUnit|}}
    {{album-thumbnail torrent=torrentUnit}}
{{/each}}

{{example}}
{{isTorrentReady}}
{{input value=torrentMagnetLink}}

<button {{action "addTorrent" torrentMagnetLink }}>Add Magnet Link</button>
<br>
<button {{action "saveAllTorrents" }}>Save Database</button>


